.profile {


  .ion-item img {
    position: center;
    // align-content: center;
    // text-align: center;
    width: 150%;
    height: 150%;
    display: block;
    margin: 0 auto;
    align-items: center;
  }

.card-title {
  text-align: center;
  margin: 0 auto;
  display: block;
  align-content: center;
  align-items: center;
  margin: center;
  text-align: center;
}
//  .card-title {
//     position: absolute;
//     top: 36%;
//     font-size: 2.0em;
//     width: 100%;
//     font-weight: bold;
//     color: #fff;
//   }

//   .card-subtitle {
//     font-size: 1.0em;
//     position: absolute;
//     top: 52%;
//     width: 100%;
//     color: #fff;
//   }

.Profile-img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  position: relative;
  margin: 0 auto;
  align-items: center;
  border-radius: 50%;
  display: block;


   
    // border: 2px solid #fff;
    // border-radius: 50%;
    // box-shadow: 0 0 5px gray;
    // display: inline-block;
    // margin-left: auto;
    // margin-right: auto;

// align-content: center;
// align-items: center;
}


  // .ion-item {
  //   position: relative;
  //   align-items: center;
  //   // left: 50%;
  //   // right: 50%;
  //   image-rendering: center;
  //   text-align: center;
  // }

  // .ion-card-title {
  //   position: center;
  //   align-content: center; 
  //   text-align: center;
  // }

  // test ^^^^

  // .ion-avatar {
  //   position: absolute;
  //   top: 15%;
  //   width: 150%;
  //   align-content: center;
 
  // }

// ion-avatar img {
//     width: 150% !important;
//     height: 150% !important;
// }


  // display: table !important;
  // width: 100% !important;
  // height: 100% !important;
  // margin-top: -50px; /* the height of the centered content */
  // text-align: center;
}
